.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	> img {
		display: none !important;
	}
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;

	@include breakpoint(medium) {
		padding: 0 8px;
	}
}

.wrapper {
	background-color: $color-white-3;
	overflow: hidden;
}

.title {
	position: relative;
	font-size: 35px;
	font-weight: 700;
	color: $color-primary;
	margin-bottom: 30px;

	&:after {
		content: "";
		display: block;
		width: 100%;
		margin: 0 auto;
		height: 1px;
		position: relative;
		bottom: 0;
		background: $color-primary;
	}
}

.title-aside {
	font-size: 18px;
	font-weight: 600;
	color: $color-primary;
	margin-bottom: 12px;

	@include breakpoint(medium) {
		text-align: center;
	}
}
